nav{
    /* position: fixed; */
    width:85%;
    background-color:#fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:1vw 8vw;
    box-shadow: 2px 2px 10px rgb(0,0,0,0.15)
}
nav img{
    width: 150px;
    cursor: pointer;
}
nav .navigation ul{
    display:flex;
    justify-content:flex-end;
    align-items:center; 
}

nav .navigation ul li{
    list-style:none;
    margin-left: 30px;
}
nav .navigation ul li a{
    text-decoration:solid;
    color: rgb(21,21,100);
    font-size: 30px;
    font-weight: 500;
    transition: 0.3s ease;
}
nav .navigation ul li a:hover {
    color: #83edeb
}
.accordion {
    background-color: #cce8b8;
    color: #044544;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    }
    .active, .accordion:hover {
    background-color: #ccc;
    }
    #home{
        background-image: linear-gradient(rgba(9,5,44,0.3), rgba(5,4,46,0.7) ),url("images/building.jpg");
        width: 100%;
        height: 100vh;
        background-size:cover ;
        background-position: center;
        display: flex;
        flex-direction:column ;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 40px;
        margin-bottom: 50px;
    }
    #home h2{
        color: #fff;
        font-size: 50px;
        letter-spacing: 5px;
        
    }
    #home h2{
        width: 50%;
        color: #fff;
        font-size: 4rem;
        line-height: 25px;
    }
    body{
        margin:0;
        overflow-x:hidden;
        }
        
        .footer{
        background:#000;
        padding:30px 0px;
        font-family: 'Play', sans-serif;
        text-align:center;
        }
        
        .footer .row{
        width:100%;
        margin:1% 0%;
        padding:0.6% 0%;
        color:gray;
        font-size:0.8em;
        }
        
        .footer .row a{
        text-decoration:none;
        color:gray;
        transition:0.5s;
        }
        
        .footer .row a:hover{
        color:#fff;
        }
        
        .footer .row ul{
        width:100%;
        }
        
        .footer .row ul li{
        display:inline-block;
        margin:0px 30px;
        }
        
        .footer .row a i{
        font-size:2em;
        margin:0% 1%;
        }
        
        @media (max-width:720px){
        .footer{
        text-align:left;
        padding:5%;
        }
        .footer .row ul li{
        display:block;
        margin:10px 0px;
        text-align:left;
        }
        .footer .row a i{
        margin:0% 3%;
        }
        }
        